@mixin openSans700 {
    font-family: 'Open Sans';
    font-weight: 700;
}
@mixin rubik700 {
    font-family: Rubik;
    font-weight: 500;
}
@mixin rubik500 {
    font-family: Rubik;
    font-weight: 500;
}
@mixin rubik400 {
    font-family: Rubik;
    font-weight: 400;
}

