@import 'vars';
@import 'global';
@import 'fonts';


// start header

.header{
    background-color: black;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.header__top{
    margin-bottom: 171px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 69px
}
.container-fluid{
    max-width: 1466px;
    margin: 0 auto;
    padding: 0 10px;
}
.logo{
    &__link{
        position: relative;
    }
    &__text{
        position: absolute;
        bottom: 5px;
        left: 35px;
    }
}
.navigation{
    list-style: none;
    li+li{
        padding-left: 42px;
    }
    li{
        display: inline-block
    }
    &__phone{
        @include openSans700;
        font-size: 20px;
    }
    &__link{
        font-family: Montserrat;
        font-weight: 600;
        font-size: 16px;
    }
    &__btn{
        border: 3px solid #3164EA;
        border-radius: 3px;
        font-size: 18px;
        @include openSans700;
        background-color: transparent;
        color: #3164EA;
        padding: 22px 39px;
        cursor: pointer;
    }
}
.header__bottom {
    padding-bottom: 252px;
    &-title{
        font-family: Montserrat;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        color: #FFFFFF;
        padding-bottom: 20px;
        max-width: 635px;
        width: 100%
    }
    &-text{
        @include rubik700;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        padding-bottom: 83px;
        max-width: 689px;
    }
}
.header__payment {
    display: flex;
    &-input{
        border-radius: 4px;
        background-color: #fff;
        color: #3E3E3E;
        @include rubik700;
        padding: 26px 27px;
        max-width: 337px;
        font-size: 20px;
        width: 100%;
        margin-right: 32px;
        border-style: none;
        outline: transparent;
    }
    &-input::placeholder{
        color: #3E3E3E;
    }
    &-btn{
        padding: 25px 77px;
    }
}
.btn {
    background-color: #3165EA;
    font-size: 22px;
    @include rubik700;
    color: #fff;
    box-shadow: 0px 4px 30px rgba(49, 100, 234, 0.52);
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}

// end header
// start advantages

.advantages {
    margin: 42px 0 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding-bottom: 70px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 234px;
        width: 100%;
    }
    &__item:nth-child(even){
        margin-top: 48px
    }
    &__text{
        @include rubik500;
        font-size: 14px;
        line-height: 20px;
        color: #3E3E3E;
        max-width: 234px;
        width: 100%;
        text-align: center;
    }
}
.animation {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-bottom: 25px;
    background-color: rgba(49, 100, 234, .26);
}
.title{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #3E3E3E;
}
.video-info {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__clip{
        width: 813px;
        // width: 100%;
        height: 443px;
        // height: 100%; 
        background-color: violet;
    }
    &__text p{
        @include rubik400;
        font-size: 16px;
        line-height: 26px;
        color: #3E3E3E;
        max-width: 417px;
        width: 100%;
        margin-right: 8px;
    }
    &__text p + p{
        margin-top: 34px;
    }
    &__text span{
        font-size: 18px;
        line-height: 26px;
        @include rubik500;
        color: #3164EA;
    }
}